name: 'CI: Linux'
on:
  workflow_dispatch:
  push:

jobs:
  build:
    name: "Build (GCC ${{ matrix.gcc }}, ${{ matrix.build_type }}, ${{ matrix.profile }}, ${{ matrix.gsi-hpc-simd == 'True' && 'GSI-HPC/SIMD' || 'GCC SIMD' }})"
    strategy:
      matrix:
        gcc: ["15"]
        build_type: ["Debug"]
        profile: ["laptop"]
        gsi-hpc-simd: ["True", "False"]
      fail-fast: false
    runs-on: ubuntu-24.04
    env:
      CTEST_OUTPUT_ON_FAILURE: "1"
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Conan and sccache
      uses: ./.github/workflows/setup-conan
      with:
        cache-key: ${{ matrix.profile }}-${{ matrix.gcc }}-${{ matrix.build_type }}-${{ matrix.gsi-hpc-simd }}

    - name: Build
      run: >
        conan build . --build=missing -pr scripts/dev/profiles/${{ matrix.profile }}
        -s compiler.version=${{ matrix.gcc }}
        -s build_type=${{ matrix.build_type }}
        -c \*:tools.build:skip_test=True
        -c \&:tools.build:skip_test=False
        -o \&:with_benchmarks=True
        -o \&:with_blasfeo=True
        -o \&:with_gsi_hpc_simd=${{ matrix.gsi-hpc-simd }}
        -c '&:tools.cmake.cmaketoolchain:extra_variables*={"CMAKE_C_COMPILER_LAUNCHER": "sccache"}'
        -c '&:tools.cmake.cmaketoolchain:extra_variables*={"CMAKE_CXX_COMPILER_LAUNCHER": "sccache"}'
        -c '&:tools.cmake.cmaketoolchain:extra_variables*={"CMAKE_DISABLE_PRECOMPILE_HEADERS": "On"}'
        -c '&:tools.compilation:verbosity=verbose'

    - run: conan cache clean
